.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 16rem;
}

.loader-container svg {
    max-width: 200px;
    stroke: var(--color-primary);
    stroke-width: .4rem;

    stroke-dasharray: 550;
    stroke-dashoffset: 0;

    animation: draw 3s ease-in-out 1s infinite alternate;
}

@keyframes draw {
    from {
        stroke-dashoffset: 550;
    } to {
        stroke-dashoffset: 0;
    }
}